@use "../global" as *;

.c-button-outline {
  --_padding-y: calc(18 * var(--to-rem));
  --_padding-x: calc(37 * var(--to-rem));
  --_border-width: 1px;
  --_radius-outer: calc(1px / 0);
  --_radius-inner: calc(var(--_radius-outer) - var(--_border-width));

  display: inline-grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  column-gap: 1em; /* テキストとアイコンが近すぎるのを防ぐ余白 */

  padding: var(--_padding-y) var(--_padding-x);
  border: var(--_border-width) solid;
  border-radius: var(--_radius-outer);
  background: var(--color-white);
  background: var(--color-off-white);
  transition: background var(--duration) var(--ease-in-sine);
  &::before {
    content: "";
  }

  @include mq(md) {
    --_padding-y: calc(12 * var(--to-rem));
    --_padding-x: calc(26 * var(--to-rem));
  }
}
.c-button-outline__text {
  font-size: clamp(calc(14 * var(--to-rem)), 3cqi, calc(20 * var(--to-rem)));
  font-weight: var(--fw-bold);
  line-height: calc(100 / 100);
  text-box: trim-both cap alphabeti;
}
.c-button-outline__icon {
  --_icon-size: 15px;

  width: var(--_icon-size);
  height: auto;
  justify-self: end;
}
