@use "../global" as *;

.c-button {
  --_padding-y: calc(14 * var(--to-rem));
  --_padding-x: calc(35 * var(--to-rem));
  --_padding-x--lg: calc(96 * var(--to-rem));

  display: inline-grid;
  padding: var(--_padding-y) var(--_padding-x);
  transition: background var(--duration) var(--ease-in-sine);

  &::before {
    content: "";
  }
}

.c-button__link {
  font-size: calc(14 * var(--to-rem));
  font-weight: var(--fw-bold);
  color: var(--color-white);
  line-height: calc(100 / 100);
  text-transform: uppercase;
  white-space: nowrap;
}

.c-button__icon {
  --_size: 16px;
  width: var(--_size);
  height: auto;
  justify-self: end;
  color: var(--color-black);
}

/* エントリーボタン */
.c-button--primary {
  background: var(--color-secondary);

  &:focus-visible {
    background: oklch(from var(--color-primary) l c h / 0.8);
  }

  @media (any-hover: hover) {
    &:hover {
      background: oklch(from var(--color-primary) l c h / 0.8);
    }
  }
}

/* 募集要項ボタン */
.c-button--secondary {
  background: var(--color-black);

  &:focus-visible {
    background: oklch(from var(--color-black) l c h / 0.8);
  }

  @media (any-hover: hover) {
    &:hover {
      background: oklch(from var(--color-black) l c h / 0.8);
    }
  }
}

/* ドロワーメニューの大きめのボタン */
.c-button--lg {
  width: min(calc(248 * var(--to-rem)), 100%);
  padding-inline: var(--_padding-x--lg);
}

/* 矢印付ボタン */
.c-button--arrow {
  --_padding-y: calc(27 * var(--to-rem));
  --_padding-x: calc(20 * var(--to-rem));

  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  column-gap: 1em;
  padding: var(--_padding-y) var(--_padding-x);
  width: min(calc(556 * var(--to-rem)), 100%);
  
  @include mq(md) {
    --_padding-y: calc(20 * var(--to-rem));
  }
  .c-button__link {
    font-size: calc(16 * var(--to-rem));
    color: var(--color-black);
  }

  @include mq(md) {
    width: min(calc(200 * var(--to-rem)), 100%);
  }

  @media (any-hover: hover) {
    &:hover {
      background: var(--color-black);

      .c-button__link,
      .c-button__icon {
        color: var(--color-white);
      }
    }
  }
}
