@use "../global" as *;

.c-button {
  --_padding-y: calc(14 * var(--to-rem));
  --_padding-x: calc(35 * var(--to-rem));
  --_padding-x--lg: calc(96 * var(--to-rem));

  display: inline-grid;
  place-content: center;
  padding: var(--_padding-y) var(--_padding-x);
  transition: background var(--duration) var(--ease-in-sine);
}

.c-button__link {
  font-size: calc(14 * var(--to-rem));
  font-weight: var(--fw-bold);
  color: var(--color-white);
  line-height: calc(100 / 100);
  text-transform: uppercase;
}

/* エントリーボタン */
.c-button--primary {
  background: var(--color-secondary);

  &:focus-visible {
    background: oklch(from var(--color-secondary) l c h / 0.8);
  }

  @media (any-hover: hover) {
    &:hover {
      background: oklch(from var(--color-secondary) l c h / 0.8);
    }
  }
}

/* 募集要項ボタン */
.c-button--secondary {
  background: var(--color-black);

    &:focus-visible {
    background: oklch(from var(--color-black) l c h / 0.8);
  }

  @media (any-hover: hover) {
    &:hover {
      background: oklch(from var(--color-black) l c h / 0.8);
    }
  }
}

/* 矢印付ボタン */
.c-button--wide {
}

.c-button--lg {
  padding-inline: var(--_padding-x--lg);
}
