@use "../global" as *;

.c-company-list {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  gap: calc(36 * var(--to-rem)) calc(102 * var(--to-rem));
  margin-block-start: calc(113 * var(--to-rem) + var(--leading-trim));

  @include mq(md) {
    gap: calc(20 * var(--to-rem)) calc(34 * var(--to-rem));
    margin-block-start: calc(70 * var(--to-rem) + var(--leading-trim));
  }
}

.c-company-list__row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;

  padding-block-end: calc(36 * var(--to-rem));
  border-block-end: 1px dotted;

  @include mq(md) {
    padding-block-end: calc(20 * var(--to-rem));
  }
}

.c-company-list__term {
  font-size: calc(16 * var(--to-rem));
  font-weight: var(--fw-bold);
}

.c-company-list__desc {
  font-size: calc(16 * var(--to-rem));
  line-height: calc(100 / 100);
}

.c-company-list__business-list {
  list-style: revert;
}
