@use "../global" as *;

.c-pagination {
  .nav-links {
    display: flex;
    column-gap: calc(32 * var(--to-rem));
  }

  // それぞれのページ番号のスタイル
  .page-numbers {
    --_icon-size: 58px;

    display: grid;
    place-content: center;
    width: var(--_icon-size);
    aspect-ratio: 1;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid;

    font-size: calc(14 * var(--to-rem));
    line-height: calc(100 / 100);
  }

  //前へ、次へは削除
  .page-numbers.prev,
  .page-numbers.next {
    display: none;
  }

  // 現在のページ番号
  .page-numbers.current {
    color: var(--color-white);
    background: var(--color-black);
  }
}
