@use "../global" as *;

.c-section-title {
  display: grid;
  width: fit-content;
  position: relative;
  font-weight: var(--fw-bold);
  line-height: calc(100 / 100);
  font-feature-settings: "palt";

  margin-inline: auto;

  .c-section-title--ja,
  .c-section-title--en {
    justify-self: center;
  }

  &[data-align="left"] {
    margin-inline-start: 0;
    margin-inline-end: auto;

    .c-section-title--ja,
    .c-section-title--en {
      justify-self: center;

      @include mq(md) {
        justify-self: start;
      }
    }
  }

  &[data-align="right"] {
    margin-inline-start: auto;
    margin-inline-end: 0;

    .c-section-title--ja,
    .c-section-title--en {
      justify-self: center;

      @include mq(md) {
        justify-self: end;
      }
    }
  }
}

.c-section-title--ja {
  grid-area: 1 / 1;
  align-self: center;
  position: relative;
  font-size: var(--fs-section-ja-title);
  z-index: 1;
}

.c-section-title--en {
  grid-area: 1 / 1;
  align-self: center;
  font-size: var(--fs-section-en-title);
  font-family: var(--en-font-family);
  font-weight: var(--fw-regular);
  color: var(--color-decoration-text);
  text-transform: uppercase;
  white-space: nowrap;
  z-index: -1;
  pointer-events: none;
}

.c-section-title__underline {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-color: currentColor;
}
