@use "../global" as *;

.c-section-title {
  display: grid;
  width: 100%;
  justify-items: center;
  position: relative;
  font-weight: var(--fw-bold);
  line-height: calc(100 / 100);
  font-feature-settings: "palt";
  overflow: hidden;
  isolation: isolate;

  &[data-align="left"] {
    justify-items: start;
    .c-section-title--ja,
    .c-section-title--en {
      justify-self: start;
    }
  }

  &[data-align="right"] {
    justify-items: end;
    .c-section-title--ja,
    .c-section-title--en {
      justify-self: end;
    }
  }

  @include mq(md) {
    justify-items: start;
    .c-section-title--ja,
    .c-section-title--en {
      justify-self: start;
    }
  }
}

.c-section-title--ja {
  grid-area: 1 / 1;
  align-self: center;
  position: relative;
  font-size: var(--fs-section-ja-title);
  z-index: 1;
}

.c-section-title--en {
  grid-area: 1 / 1;
  align-self: center;
  font-size: var(--fs-section-en-title);
  font-family: var(--en-font-family);
  font-weight: var(--fw-regular);
  color: var(--color-decoration-text);
  text-transform: uppercase;
  white-space: nowrap;
  z-index: -1;
  pointer-events: none;
}

.c-section-title__underline {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-color: currentColor;
}
