@use "../global" as *;
.c-section-title {
  display: grid;
  position: relative;
  font-weight: var(--fw-bold);
  line-height: calc(100 / 100);
  font-feature-settings: "palt";

  &[data-align="center"] {
    justify-items: center;
    text-align: center;
  }

  &[data-align="left"] {
    justify-items: start;
    text-align: left;
  }

  &[data-align="right"] {
    justify-items: end;
    text-align: right;
  }
}

.c-section-title--ja {
  position: relative;
  font-size: var(--fs-section-ja-title);
  z-index: 1;
}

.c-section-title--en {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  translate: -50% -50%;

  font-size: var(--fs-section-en-title);
  font-family: var(--en-font-family);
  font-weight: var(--fw-regular);
  color: #9797971a;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: -1;
  pointer-events: none;

  @include mq(md) {
    inset-inline-start: 0;
    translate: 0 -50%;
  }
}

.c-section-title__underline {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-color: currentColor;
}
