@use "../global" as *;

.p-blog__list {
  --_columns: 2;
  --_column-gap: calc(52 * var(--to-rem));
  --_row-gap: calc(23 * var(--to-rem));

  display: grid;
  grid-template-columns: repeat(var(--_columns), minmax(0, 1fr));
  gap: var(--_row-gap) var(--_column-gap);
  margin-block-start: calc(61 * var(--to-rem) + var(--leading-trim));

  @include mq(md) {
    --_columns: 1;
    --_row-gap: calc(9 * var(--to-rem));
    margin-block-start: calc(43 * var(--to-rem) + var(--leading-trim));
    padding-block-end: calc(52 * var(--to-rem));
  }
}

.p-blog__item-link {
  display: grid;
  grid-template-columns: calc(156 * var(--to-rem)) minmax(0, 1fr);
  grid-template-rows: max-content max-content minmax(0, 1fr);

  @include mq(md) {
    grid-template-columns: calc(126 * var(--to-rem)) minmax(0, 1fr);
  }
}

.p-blog__img-wrap {
  width: 100%;
  height: auto;
  aspect-ratio: 156 / 180;
  grid-row: span 3;
}

.p-blog__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.p-blog__content {
  display: grid;
  grid-template-rows: subgrid;
  padding: calc(20 * var(--to-rem)) calc(23 * var(--to-rem));
  background: var(--color-white);
  border-radius: 0 10px 10px 0;
  background: var(--color-off-white);

  grid-row: span 3;

  @include mq(md) {
    padding: calc(5 * var(--to-rem)) calc(18 * var(--to-rem));
  }
}

.p-blog__title {
  font-size: clamp(calc(14 * var(--to-rem)), 4cqi, calc(18 * var(--to-rem)));
  font-weight: var(--fw-bold);
  line-height: calc(150 / 100);
  margin-block-start: calc(23 * var(--to-rem) + var(--leading-trim));

  text-decoration: underline 1px currentColor;
  text-underline-offset: 4px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  grid-row: 2;

  @include mq(md) {
    margin-block-start: calc(8 * var(--to-rem) + var(--leading-trim));
  }
}

.p-blog__date {
  font-size: calc(12 * var(--to-rem));
  line-height: calc(100 / 100);
  margin-block-start: calc(37 * var(--to-rem) + var(--leading-trim));

  grid-row: 3;

  @include mq(md) {
    margin-block-start: calc(32 * var(--to-rem) + var(--leading-trim));
  }
}
