@use "../global" as *;

.p-hero {
}

.p-hero__inner {
  display: grid;
  grid-template-areas: "hero-stack";

  & > * {
    grid-area: hero-stack;
  }
}

.p-hero__img {
  width: 100%;
  height: auto;
  aspect-ratio: 1440 / 320;

  @include mq(md) {
    aspect-ratio: 375 / 200;
  }
}

.p-hero__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-hero__content {
  display: flex;
  flex-direction: column;
  row-gap: calc(12 * var(--to-rem));

  place-self: start;
  padding-block-start: var(--hero-padding-top);
  padding-inline-start: var(--hero-padding-left);
}

.p-hero__en-title {
  font-size: var(--fs-hero-en-title);
  font-family: var(--title-font-family);
  line-height: calc(100 / 100);
  color: var(--color-black);
  text-transform: uppercase;

  padding: calc(3 * var(--to-rem)) calc(10 * var(--to-rem));
  background: var(--color-white);
  width: fit-content;
}

.p-hero__ja-title {
  font-size: var(--fs-hero-ja-title);
  font-weight: var(--fw-bold);
  line-height: calc(100 / 100);
  color: var(--color-black);

  padding: calc(3 * var(--to-rem)) calc(10 * var(--to-rem));
  background: var(--color-white);
  width: fit-content;
}

.p-hero__lead {
  font-size: calc(16 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: calc(100 / 100);
  color: var(--color-primary);

  padding: calc(7 * var(--to-rem)) calc(10 * var(--to-rem));
  background: var(--color-white);
  width: fit-content;
}
