@use "../global" as *;

.p-message {
  container-type: inline-size;
  padding-block-start: clamp(4.5rem, 3.334rem + 4.98vi, 7.813rem);
}

.p-message__title {
  font-size: var(--fs-page-title);
  font-weight: var(--fw-bold);
  line-height: calc(100 / 100);
  font-feature-settings: "palt";
  text-align: center;
}
.p-message__body {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: calc(17 * var(--to-rem));
  margin-block-start: calc(109 * var(--to-rem) + var(--leading-trim));

  @media (max-width: 890px) {
    grid-template-columns: minmax(0, 1fr);
    margin-block-start: calc(60 * var(--to-rem) + var(--leading-trim));
  }
}
.p-message__img {
  width: 100%;
  height: auto;
  aspect-ratio: 484 / 629;

  @media (max-width: 890px) {
    width: min(calc(340 * var(--to-rem)), 100%);
    margin-inline: auto;
  }
}

.p-message__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-message__content {
  display: flex;
  flex-direction: column;
  row-gap: calc(44 * var(--to-rem));

  @include mq(md) {
    row-gap: calc(20 * var(--to-rem));
  }
}

.p-message__catch {
  font-size: var(--fs-page-catch);
  font-weight: var(--fw-bold);
  line-height: calc(150 / 100);
  font-feature-settings: "palt";
  margin-block-start: calc(18 * var(--to-rem));
  margin-inline-start: calc(-63 * var(--to-rem));

  @media (max-width: 890px) {
    margin-inline: auto;
  }
}
.p-message__text-wrap {
  > * + * {
    margin-block-start: calc(31 * var(--to-rem) + var(--leading-trim));
  }
  > p:last-child {
    margin-block-start: calc(21 * var(--to-rem) + var(--leading-trim));
  }
}
.p-message__text {
  font-size: clamp(calc(14 * var(--to-rem)), 2cqi, calc(16 * var(--to-rem)));
  line-height: calc(200 / 100);
}
