@use "../global" as *;

.p-mv {
  position: relative;
  width: 100%;
  height: 100svh;
}

.p-mv__inner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.p-mv__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--color-black);
}

.p-mv__img img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-mv__img img:first-child {
  @include mq(md) {
    object-position: 70% top;
  }
}

/* 画像の切り替えアニメーション */
.p-mv__img img:nth-of-type(odd) {
  animation: crossfade 8s infinite;
}

.p-mv__img img:nth-of-type(even) {
  animation: crossfade 8s infinite 4s; // 半分ずらす
}

.p-mv__title {
  position: absolute;
  bottom: calc(307 * var(--to-rem));
  left: calc(66 * var(--to-rem));

  font-size: var(--fs-mv-main-title);
  font-family: var(--title-font-family);
  color: var(--color-white);
  line-height: calc(120 / 100);
  text-transform: uppercase;
  text-shadow: 0px 4px 4px oklch(0 0 0 / 0.25);

  @include mq(md) {
    bottom: calc(137 * var(--to-rem));
    left: calc(12 * var(--to-rem));
  }
}

.p-mv__sub-title {
  --_padding-y: calc(17 * var(--to-rem));
  --_padding-x: calc(66 * var(--to-rem));
  --_slant-width: calc(30 * var(--to-rem));

  @include mq(md) {
    --_padding-y: calc(9 * var(--to-rem));
    --_padding-x: calc(12 * var(--to-rem));
  }

  position: absolute;
  bottom: calc(163 * var(--to-rem));
  font-size: var(--fs-mv-sub-title);
  font-weight: var(--fw-bold);
  line-height: calc(100 / 100);
  color: var(--color-white);
  font-feature-settings: "palt";
  /* シェイプ */
  padding: var(--_padding-y) calc(var(--_padding-x) + var(--_slant-width)) var(--_padding-y) var(--_padding-x);
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--_slant-width)) 100%, 0 100%);
  background: var(--color-black);

  @include mq(md) {
    bottom: calc(89 * var(--to-rem));
  }
}

.p-mv__new__banner {
  position: absolute;
  bottom: calc(38 * var(--to-rem));
  left: calc(71 * var(--to-rem));
  width: min(calc(1263 * var(--to-rem)), calc(100% - calc(71 * var(--to-rem))));
  padding-inline: calc(12 * var(--to-rem));

  @include mq(md) {
    left: 0;
    bottom: calc(10 * var(--to-rem));
  }
}

/* MVの画像のアニメーション */
@keyframes crossfade {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
