@use "../global" as *;

.p-top-blog {
  position: relative;
  padding-block-start: calc(45 * var(--to-rem));
  padding-block-end: clamp(calc(52 * var(--to-rem)), 8cqi, calc(80 * var(--to-rem)));
  background: var(--color-off-white);
  isolation: isolate;

  @include mq(md) {
    padding-block-start: calc(54 * var(--to-rem));
  }
}

.p-top-blog__text{
  font-size: calc(16 * var(--to-rem));
  line-height: calc(150 / 100);
}

.p-top-blog__button-wrap {
  position: absolute;
  top: calc(84 * var(--to-rem));
  right: calc(54 * var(--to-rem));

  @include mq(md) {
    top: auto;
    right: auto;
    bottom: 0;
    left: calc(17 * var(--to-rem));
  }
}

.p-top-blog__link {
  display: flex;
  align-items: center;
  column-gap: calc(13 * var(--to-rem));

  &:focus-visible {
    .p-top-blog__link-icon {
      circle {
        fill: var(--color-black);
        stroke: var(--color-black);
      }
      path {
        fill: var(--color-white);
      }
    }

    @include mq(md) {
      column-gap: calc(4 * var(--to-rem));
    }
  }

  @media (any-hover: hover) {
    &:hover {
      .p-top-blog__link-icon {
        circle {
          fill: var(--color-black);
          stroke: var(--color-black);
        }
        path {
          fill: var(--color-white);
        }
      }
    }
  }
}
.p-top-blog__link-icon {
  --_size: calc(58 * var(--to-rem));

  width: var(--_size);
  height: auto;

  circle,
  path {
    transition:
      fill var(--duration) var(--ease-out-cubic),
      stroke var(--duration) var(--ease-out-cubic);
  }
}

.p-top-blog__link-text {
  font-size: calc(16 * var(--to-rem));
  font-family: var(--title-font-family);
  line-height: calc(100 / 100);
  text-transform: uppercase;

  border-block-end: 2px solid;
}
